<div class="container">
  <h2 class="text-center">Find your island to stay</h2>
  <div class="cards">
    <% @islands.each do |island| %>
      <%= link_to island_path(island) do %>
        <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),
          url('https://source.unsplash.com/1600x900/?island-<%=island.name%>');">
        </div>
        <div>
          <h2><%= island.name.capitalize %> </h2>
          <p class="fas fa-map-marked-alt"> <%= island.address %> </p>
          <p class="fas fa-user-alt"> <%= island.number_of_guests %> </p>
          <p class="fas fa-euro-sign"> <%= island.price %> </p>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
