<h2>Island information :</h2>
<p>Name : <%= @island.name %></p>
<p>Address : <%= @island.address %></p>
<p>Number of guests : <%= @island.number_of_guests %></p>
<p>Price : <%= @island.price %></p>
<p>Landlord : <%= @island.user.username %></p>
