<div>
  <% if @island.photo.attached?%>
    <div class="wrapper" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
      url('<%= cl_image_path @island.photo.key, crop: :fill %>')">
      <h1><%= @island.name.capitalize %></h1>
    </div>
  <% else %>
    <div class="wrapper" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),
      url('https://source.unsplash.com/1600x900/?island-<%=@island.name%>')">
      <h1><%= @island.name.capitalize %></h1>
    </div>
  <% end %>
</div>

<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Island information :</h1>
      <p>Name : <%= @island.name %></p>
      <p>Address : <%= @island.address %></p>
      <p>Number of guests : <%= @island.number_of_guests %></p>
      <p data-price=<%= @island.price%> id="price">Price : <%= @island.price %></p>
      <p>Landlord : <%= @island.user.username %></p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12">
      <h2>Book this island!</h2>
      <%= form_with model: [current_user, @booking], local: true, id: 'booking-form' do |f| %>
        <div class="form-inline my-3">
          <%= f.label :start_date, class: 'mr-3'%>
          <%= f.date_field :start_date, value: Date.today, id: "start-date-booking", class: 'form-control mr-3' %>
          <%= f.label :number_of_nights, class: 'mr-3' %>
          <%= f.number_field :nb_of_nights, placeholder: 'Nb of nights', min: 0, class: 'form-control mr-3' %>
          <%= f.hidden_field :island_id, value: params[:id] %>
          <%= f.label :total_price, class: 'mr-3' %>
          <%= f.text_field :total_price, id: 'total-price', readonly: true, value: 0, class: 'form-control mr-3' %>
          <%= f.submit 'Book', class: 'btn btn-primary m-3', id: 'booking-submit', disabled: true %>
        </div>
      <% end %>
    </div>
  </div>
</div>
