<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="my-3"><%= @user.username %></h1>
      <div class="bg-white p-3 my-3">
        <h2 class="mb-3">About me</h2>
        <ul class="list-unstyled">
          <li><span class="badge badge-primary">Email</span> <%= @user.email %></li>
          <li><span class="badge badge-primary">First name</span> <%= @user.first_name %></li>
          <li><span class="badge badge-primary">Last name</span> <%= @user.last_name %></li>
        </ul>
      </div>
      <% if @user.bookings.any? %>
        <div class="bg-white p-3 my-3">
          <h2 class="mb-3">My bookings</h2>
          <div class="cards-booking">
            <% @user.bookings.each do |booking| %>
            <div class="card-booking">
              <div class="card-booking-infos">
                <h3><%= link_to booking.island.name, island_path(booking.island) %></h3>
                <ul class="list-unstyled">
                  <li><span class="badge badge-primary">From</span> <%= booking.start_date.strftime("%b %d, %Y") %></li>
                  <li><span class="badge badge-primary">Until</span> <%= booking.end_date.strftime("%b %d, %Y") %></li>
                  <li><span class="badge badge-primary">Nb of nights</span> <%= (booking.end_date - booking.start_date).to_i %></li>
                  <li><span class="badge badge-primary">Total price</span> <%= booking.total_price %> €</li>
                </ul>
              </div>
            </div>
          <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
