<% if current_page?('/') %>
  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon" id="navbar" style="background-color:#00b0be">
<% else %>
  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon" id="navbar">
<% end %>
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "logo.png", style:"width:60px;" %>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <% if user_signed_in? %>
      <!--
        <li class="nav-item">
          <%= link_to "€ EUR", "#", class: "nav-link" %>
        </li>
      -->
        <li class="nav-item">
          <% if policy(Island).create? %>
            <%= link_to "Add your island", new_island_path, class: "nav-link btn btn-success mt-2 " %>
          <% end %>
        </li>
        <li class="nav-item dropdown ml-4">
          <%= image_tag "profile.png", class: "avatar dropdown-toggle", style:"width:60px;height:60px;", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
            <%= link_to "My profile", user_path(current_user), class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
      <!--
        <li class="nav-item">
          <%= link_to "€ EUR", "#", class: "nav-link mr-3" %>
        </li>
      -->
        <li class="nav-item" id="login">
          <% if current_page?('/') %>
            <%= link_to "Login", new_user_session_path, class: "nav-link ml-3", style: 'color:#FFFFFF !important;' %>
          <% else %>
            <%= link_to "Login", new_user_session_path, class: "nav-link ml-3" %>
          <% end %>
        </li>
        <li class="nav-item" id="signup">
          <%= link_to "Sign up", new_user_registration_path, class: "nav-link btn btn-success ml-3" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
