<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="my-3"><%= @user.username %></h1>
      <div class="bg-white p-3 my-3">
        <div class="d-flex justify-content-between align-items-baseline">
          <h2 class="mb-3">About me</h2>
          <% unless current_page?(edit_user_url) %>
            <span class="btn btn-secondary p-2"><%= link_to "Edit my profile", edit_user_url, id:"btn-edit-profile" %></span>
          <% end %>
        </div>
        <% if current_page?(edit_user_url) %>
          <%= simple_form_for(user) do |f| %>
            <div class="mb-3">
              <span class="badge badge-primary">Email</span> <span class="text-muted"><%= @user.email %></span>
            </div>
            <%= f.input :username %>
            <%= f.input :first_name %>
            <%= f.input :last_name %>
            <%= f.button :submit, "Update my profile", class: 'btn btn-primary' %>
          <% end %>
        <% else %>
          <div>
            <ul class="list-unstyled">
              <li><span class="badge badge-primary">Username</span> <%= @user.username %></li>
              <li><span class="badge badge-primary">Email</span> <%= @user.email %></li>
              <li><span class="badge badge-primary">First name</span> <%= @user.first_name %></li>
              <li><span class="badge badge-primary">Last name</span> <%= @user.last_name %></li>
            </ul>
          </div>
        <% end %>
      </div>
      <% if @user.bookings.any? %>
        <div class="bg-white p-3 my-3">
          <h2 class="mb-3">My bookings</h2>
          <div class="cards-booking">
            <% @user.bookings.each do |booking| %>
            <div class="card-booking">
              <div class="card-booking-infos">
                <div class="d-flex align-items-baseline">
                  <h3><%= booking.island.name %></h3>
                  <% unless booking.island.reviews.count == 0 %>
                    <span>
                      <% sum = 0 %>
                      <% booking.island.reviews.each do |review| %>
                        <% sum += review.rating %>
                      <% end %>
                      <% average = (sum / booking.island.reviews.count.to_f).round(1) %>
                      <%= average %>/5
                    </span>
                  <% end %>
                </div>
                <ul class="list-unstyled">
                  <li><span class="badge badge-primary">From</span> <%= booking.start_date.strftime("%b %d, %Y") %></li>
                  <li><span class="badge badge-primary">Until</span> <%= booking.end_date.strftime("%b %d, %Y") %></li>
                  <li><span class="badge badge-primary">Nb of nights</span> <%= (booking.end_date - booking.start_date).to_i %></li>
                  <li><span class="badge badge-primary">Total price</span> <%= booking.total_price %> €</li>
                  <% if booking.island.reviews.count == 0 %>
                    <li><%= link_to "Rate your booking", new_island_review_path(booking.island) %></li>
                  <% end %>
                </ul>
              </div>
            </div>
          <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
