<div id="home-banner" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0)), url(https://cdn.dribbble.com/users/41854/screenshots/3262177/islands_4d.gif);">
  <div class="container-fluid">
    <div class="row">
      <div class="col-1"></div>
      <div class="col-lg-4 col-xl-3" id="form">
        <h1 class="mb-3">Book your dream island to stay !</h1>
        <%= form_with url: islands_path, method: "GET", local: true do |f| %>
          <form>
            <div class="row form-group">
              <div class="col">
                <%= f.label :"Island name", for: "islandName" %>
                <%= f.text_field :name, class: "form-control", id: "islandName" %>
              </div>
            </div>
            <div class="row form-group">
                <div class="col">
                  <%= f.label :"Check-in", for: "checkIn" %>
                  <%= f.date_field :start_date, :value => Time.now.strftime('%Y-%m-%d'), class: "form-control", id: "checkIn" %>
                </div>
                <div class="col">
                  <%= f.label :"Check-out", for: "checkOut" %>
                  <%= f.date_field :end_date, :value => Date.today+1, class: "form-control", id: "checkOut" %>
                </div>
              </div>
            <%= f.submit "Search", class: "btn btn-primary float-right" %>
          </form>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <h1 class="text-center m-5 floating" style="color: #6C757D"><strong>Dive in !</strong></h1>
  <div class="cards">
    <% @islands.last(6).each do |island| %>
      <%= link_to island_path(island) do %>
        <% if island.photo.attached?%>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.9)),
            url('<%= cl_image_path island.photo.key, height: 300, width: 400, crop: :fill %>');">
        <% else %>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.9)),
            url('https://source.unsplash.com/1600x900/?island-<%=island.name%>');">
        <% end %>
            <h2 class="card-title"><%= island.name.capitalize %> </h2>
            <p class="number_of_guests"><i class="fas fa-user-friends"></i> <%= island.number_of_guests %> </p>
            <p class="price">€ <%= island.price.round %> </p>
          </div>
      <% end %>
    <% end %>
  </div>
</div>

