<div id="home-banner" style="background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url(https://cdn.dribbble.com/users/41854/screenshots/3262177/islands_4d.gif);">
  <div class="container-fluid">
    <div class="row">
      <div class="col-1"></div>
        <div id="home-search">
          <div id="cover">
             <%= form_with url: islands_path, method: "GET", local: true do |f| %>
                <form>
                  <div class="tb">
                      <%= f.text_field :name, class: "td", id: "islandName", placeholder: "Let's go" %>
                  </div>
                  <div id="s-cover">
                    <%= f.submit "", class: "td" %>
                  <button type="submit">
                    <div id="s-circle"></div>
                    <span></span>
                  </button>
                  </div>
                </form>
              <% end %>
          </div>
        </div>

    </div>
  </div>
</div>
<div class="container-fluid" style="position:relative;">
  <div class="row">
    <div class="col">
      <h1 class="text-center mt-5 mb-4 floating" style="color: #6C757D"><strong>Dive in !</strong></h1>
      <div class="cards">
        <% @islands.last(6).each do |island| %>
          <%= link_to island_path(island) do %>
            <% if island.photo.attached?%>
              <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.9)),
                url('<%= cl_image_path island.photo.key, height: 300, width: 400, crop: :fill %>');">
            <% else %>
              <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.1),rgba(0,0,0,0.9)),
                url('https://source.unsplash.com/1600x900/?island-<%=island.name%>');">
            <% end %>
                <h2 class="card-title"><%= island.name.capitalize %> </h2>
                <h5 class="card-square-km"><%= island.aera %> km²</h5>
                <p class="number_of_guests"><i class="fas fa-user-friends"></i> <%= island.number_of_guests %></p>
                <p class="price">€ <%= (island.price.*1.25).round(2) %>K </p>
              </div>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="col d-flex justify-content-center">
      <%= link_to "See more", islands_path, class:"btn btn-primary font-weight-bold" %>
    </div>
  </div>
</div>

