<h1 class="text-center">Book your dream island to stay !</h1>

<div class="container">
  <%= form_with url: islands_path, method: "GET", local: true do |f| %>
    <form class="col-12 col-md-4">
      <div class="form-group">
        <%= f.label :"Island name :" %>
        <%= f.text_field :name, class: "form-control"%>
      </div>

      <div class="form-group">
        <%= f.label :"CHECK-IN :" %>
        <%= f.date_field :start_date, :value => Time.now.strftime('%Y-%m-%d'), class: "form-control"%>
      </div>

      <div class="form-group">
        <%= f.label :"CHECK-OUT :" %>
        <%= f.date_field :end_date, :value => Date.today+1, class: "form-control" %>
      </div>

      <%= f.submit "Search", class: "btn btn-primary" %>
    </form>
  <% end %>
</div>

<div class="container">
  <h2 class="text-center">Last island available</h2>
  <div class="cards">
    <% @islands.last(6).each do |island| %>
      <%= link_to island_path(island) do %>
        <% if island.photo.attached?%>
          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),
            url('<%= cl_image_path island.photo.key, height: 300, width: 400, crop: :fill %>');">
            <h2><%= island.name.capitalize %> </h2>
          </div>

        <% else %>

          <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.2)),
            url('https://source.unsplash.com/1600x900/?island-<%=island.name%>');">
            <h2><%= island.name.capitalize %> </h2>
          </div>

        <% end %>

        <div>
          <p class="fas fa-user-alt"> <%= island.number_of_guests %> </p>
          <p class="fas fa-euro-sign"> <%= island.price %> </p>
        </div>

      <% end %>
    <% end %>
  </div>
</div>
