<div class="container">
  <div class="row justify-content-center">
    <div class="bg-white p-4 my-4">
    <div class="col-xs-4" id="form">
      <h1>How was your stay at <%= @booking.island.name %> ?</h1>
      <%= simple_form_for [@booking, @review] do |f| %>
        <%= f.input :content%>
        <%= f.input :rating, collection: (1..5).to_a, label: "Rate your experience" %>
        <%= f.submit "Send your review", class: "btn btn-primary" %>
      <% end %>
    </div>
    </div>
  </div>
</div>
